* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

head {
    min-height: 3000px;
}

header {
    height: 100%;
}

.box-1 {
    background-color: rgb(219, 178, 42);
    height: 100px;
    margin: 100px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    animation: appearance ease-in-out;
    animation-timeline: view();
    animation-range: entry 100% contain 50%;
}

.list {
    margin: 105px;
}
.list-item {
    margin: 15px;
    animation: appearance2;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
}

.box-2 {
    background-color: rgb(104, 33, 196);
    height: 100px;
    margin: 100px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    animation: appearance3;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
}

@keyframes appearance {
    from {
        opacity: 0;
        transform: scale(0.6);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes appearance2 {
    from {
        opacity: 0;
        margin-left: 400%;
    }
    to {
        opacity: 1;
        margin-left: 0;
    }
}

@keyframes appearance3 {
    from {
        opacity: 0;
        background-color: rgb(196, 33, 169);
        border: 0;
    }

    50% {
        opacity: 0.5;
        background-color: rgb(123, 33, 196);
        border: 3px solid rgb(166, 205, 255);
    }

    to {
        opacity: 1;
        background-color: rgb(33, 196, 174);
        border: 5px solid rgb(4, 88, 29);
    }
}
