* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    color: rgb(231, 229, 200);
    background-color: rgb(0, 0, 0);
    height: 100px;
}

main {
    margin-top: 100px;
    min-height: 500vh;
    display: grid;
    background-color: rgb(150, 171, 190);
    grid-template-rows: repeat(3, 1fr);
}

.section {
    padding: 40px;
    view-timeline-name: --section-timeline;
    view-timeline-axis: y;
}

.section h2 {
    opacity: 0;
    color: rgb(0, 0, 0);
    animation-name: bright;
    animation-timeline: --section-timeline;
    animation-range: entry 0% cover 90%;
    animation-fill-mode: both;
}


@keyframes bright {
    from {
        opacity: 0;
        color: rgb(0, 0, 0);
    }
    to {
        opacity: 1;
        color: rgb(44, 136, 173);
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #e0e0e0;
    
}

::-webkit-scrollbar-thumb {
    background: aqua;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: blue;
}